@font-face {
    font-family: 'AmongUs';
    src: url('http://localhost:8080/web/fonts/Impostograph-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'VCR';
    src: url("http://localhost:8080/web/fonts/VCR_OSD_MONO_1.001.ttf");
}

/* BODY */
body{
    background-image: url("http://localhost:8080/web/images/MAIN_MENU.png");
    background-size: cover;
    background-position: center;
}
/*HANGMAN_US*/
#block_HangmanUs{
    position: absolute;
    top: 25%;
    left : 50%;
    transform: translate(-50%, -50%);
}
#HANGMAN_US{
    font-family: AmongUs, Serif;
    font-size: 200px;
    letter-spacing: 5px;
    color : white;
    white-space: nowrap;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    #HANGMAN_US{
        font-size: 6em;
    }
}

@media (max-width: 480px) {
    #HANGMAN_US{
        font-size: 4em;
    }
}

/*CONNECT & STATUS*/
#status{
    font-family: VCR, Serif;
    font-size: 25px;
    color: white;
    white-space: nowrap;
}
#connect_img{
    max-width: 25px;
    height: auto;
}
#status_block{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}
#status, #connect_img{
    display:inline-block;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    #status{
        font-size: 20px;
    }
    #connect_img{
        max-width: 20px;
    }
}
@media (max-width: 480px) {
    #status{
        font-size: 15px;
    }
    #connect_img{
        max-width: 15px;
    }
}

/*BUTTON*/
#gamemode {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
button {
    font-family: AmongUs, Serif;
    font-size: 4rem;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    width: 20%;
    min-width: 200px;
    background-color: black;
    border-radius: 25px;
    border-color: white;
}
button:hover{
    cursor:pointer;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    button {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        width: 25%;
    }
}