@font-face {
    font-family: 'AmongUs';
    src: url('http://localhost:8080/web/fonts/Impostograph-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'VCR';
    src: url("http://localhost:8080/web/fonts/VCR_OSD_MONO_1.001.ttf");
}
body{
    background-image: url("http://localhost:8080/web/images/MULTI_BACKGROUND.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*Unique*/
#letters{
    font-family: VCR, Serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
@media (max-width: 768px) {
    #letters {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    #letters {
        font-size:20px;
    }
}
/*STATUS*/
#status_block{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}
#status{
    font-family: VCR, Serif;
    font-size: 25px;
    color: white;
}
#connect_img{
    max-width: 25px;
    height: auto;
}
#status, #connect_img{
    display:inline-block;
}
@media (max-width: 768px) {
    #status{
        font-size: 20px;
    }
    #connect_img{
        max-width: 20px;
    }
}
@media (max-width: 480px) {
    #status {
        font-size: 15px;
    }

    #connect_img {
        max-width: 15px;
    }
}
/*NO DIV*/
h1{
    font-family: VCR, Serif;
    font-size: 100px;
    color: red;
    text-align: center;
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size:40px;
    }
}

/*INPUT*/
#input_block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}
#button, #input{
    font-family: AmongUs;
    font-size: 35px;
    text-align: center;
}

/*WORDS*/
#word{
    font-family: VCR, Serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
@media (max-width: 768px) {
    #word {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    #word {
        font-size:20px;
    }
}

/*TURNS*/
#turnblock{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
}
#turn{
    font-family: VCR, Serif;
    color: white;
    text-align: center;
    font-size: 30px;
}
@media (max-width: 768px) {
    #turn {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    #turn {
        font-size:15px;
    }
}

/*RESET*/
#reset{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    background-color: #ff0000;
    color: #000000;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 2px 2px 5px #bd2424;
    font-size: 20px;
    cursor: pointer;
    font-family: VCR, Serif;
}
@media (max-width: 768px) {
    #reset {
        top: 25%;
        font-size: 20px;
        padding: 4px 13px;
    }
}
@media (max-width: 480px) {
    #reset {
        top: 25%;
        font-size:20px;
        padding: 4px 13px;
    }
}