@font-face {
    font-family: 'AmongUs';
    src: url('http://localhost:8080/web/fonts/Impostograph-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'VCR';
    src: url("http://localhost:8080/web/fonts/VCR_OSD_MONO_1.001.ttf");
}

/* MULTIPLE */
#status, #connect_img{
    display:inline-block;
}
#button, #input{
    font-family: AmongUs;
    font-size: 40px;
}
#attempts, #mort{
    font-family: VCR, Serif;
    display:inline-block;
    color: red;
    font-size: 40px;
}

/* BLOCK */
body{
    background-image: url("http://localhost:8080/web/images/SOLO_BACKGROUND.png");
}

#status_block{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}
#attempts_block{
    text-align: center;
}
#input_block{
    text-align: center;
}

/* UNIQUE */
h1{
    font-family: VCR, Serif;
    font-size: 100px;
    color: lightskyblue;
    text-align: center;
    margin-bottom: 0;
}
#status{
    font-family: VCR, Serif;
    font-size: 25px;
    color: white;
}
#connect_img{
    max-width: 25px;
    height: auto;
}
#letters{
    font-family: VCR, Serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
#word{
    font-family: VCR, Serif;
    color: white;
    text-align: center;
    font-size: 40px;
}