<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>Hangman Web</title>
</head>
<body>
    <div id="core" class="center">
        <h2>Hangman Web</h2>
        <br>
        {{if eq .Difficulty ""}}
        <form method="POST">
            <p>Choose the level :</p>
            <select name="difficulty">
                <option value="">Select a difficulty</option>
                <option value="words1">Medium</option>
                <option value="words">Easy</option>
                <option value="words2">Hard</option>
            </select>
            <br><br>
            <button value="submit" >START !</button>
        </form>
        {{else}}
            {{if eq .Attempts 10}}
            <h4>You failed</h4>
            {{else}}
            <h4>{{if ne .Word .ToFind}}{{.Word}}{{else}}Congrats !{{end}}</h4>
            <form method="POST">
                <input type="text" name="letter"><br>
                <button value="submit">Try</button>
            </form>
            {{end}}
        {{end}}
    </div>
</body>
</html>